@model List<BusketModel>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="~/css//site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
    <style>
        .plain-link {
            color: inherit; 
            text-decoration: none; 
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="had">
        <h2 class="had">Корзина</h2>
        @if (Model != null && Model.Count > 0)
        {
            <div class="tovars">
                <table>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img class="icon-b" src="@Url.Content(item.Product.ImagePath)" alt="@item.Product.Name"></td>
                            <td><span>@item.Product.Name</span></td>
                            <td><span>@item.Product.Price.ToString("C")</span></td>
                            <td><input type="number" name="buskets[@item.Id].Count" value="@item.Count" min="1" max="@item.Product.Count" onkeydown="return event.keyCode == 38 || event.keyCode == 40" /></td>
                            <td><span>@(item.Product.Price * item.Count)</span></td>
                            <td><a class="plain-link" href="@Url.Action("DeleteFromBasket", "Home", new { itemId = item.Id })"><button>X</button></a></td>
                        </tr>
                    }
                </table>
                <hr>
            </div>
        }
        else
        {
            <p>Корзина пуста.</p>
        }
        <div class="btn-oplata">
            <form method="post" asp-action="Checkout" asp-controller="Home">
                <input type="hidden" name="totalCost" value="@Model.Sum(item => item.Product.Price * item.Count)" />
                <span>Общая сумма: @Model.Sum(item => item.Product.Price * item.Count) руб.</span>
                <button type="submit">Оформить заказ</button>
            </form>
        </div>
    </div>
    </div>
</body>
</html>