@model List<ProductModel>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/Catalog.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3d0e27e432.js"></script>
@*     <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start; /* Начинайте новый ряд слева */
            gap: 20px; /* Отступ между карточками товаров */
        }

        .card-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 20px; /* Отступ между карточками товаров */
        }

            .card img {
                width: 100%;
            }

        .content {
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .details {
            margin-bottom: 10px;
        }

        .price {
            font-weight: bold;
        }
    </style> *@
</head>
<body>
   
        <div class="scroll">
            <ul class="imenu">
                <li class="full-border">
                    <a href="#">Категории</a>
                <ul>
                    <li><a href="#">Игрушки</a></li>
                    <li><a href="#">Корма</a></li>
                    <li><a href="#">Миски, поилки</a></li>
                    <li><a href="#">Ветеринарная аптека</a></li>
                </ul>
                </li>
            </ul>
   
           
            <h2>Каталог</h2>
            <div class="search">
                <input type="text" placeholder="Название товара">
                <button>Поиск</button>
            </div>
           <div class="wrapper">

               <div class="cart-nav">
                   <div class="icon">
                       <i class="fas fa-shopping-cart"></i>
                       <span>Корзина</span>

                   </div>

                   <div class="item-count">0</div>

               </div>
            </div>
            <div class="wrapper">
             <div class="rows">
                @foreach (var product in Model)
                {
                    <div class="card">
                        <img src="@Url.Content(product.ImagePath)" alt="@product.Name" />
                        <div class="content">
                            <div class="row">
                                <div class="details">
                                    <span>@product.Name</span>
                                    <p>@product.Description</p>
                                </div>
                                <div class="price">@product.Price.ToString("C")</div>
                            </div>
                            <div class="btn-Ct">
                                <button>Купить в 1 клик</button>
                                <button>В корзину</button>
                            </div>
                        </div>
                    </div>
                }
                @foreach (var product in Model)
                {
                    <div class="card">
                        <img src="@Url.Content(product.ImagePath)" alt="@product.Name" />
                        <div class="content">
                            <div class="row">
                                <div class="details">
                                    <span>@product.Name</span>
                                    <p>@product.Description</p>
                                </div>
                                <div class="price">@product.Price.ToString("C")</div>
                            </div>
                            <div class="btn-Ct">
                                <button>Купить в 1 клик</button>
                                <button>В корзину</button>
                            </div>
                        </div>
                    </div>
                }
             </div>
            
            
            </div>
        <div class="wrapper">

            <div class="cart-nav">
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Корзина</span>

                </div>

                <div class="item-count">0</div>

            </div>
            <div class="vanish"></div>

    </div>

</body>
</html>
