@model UserProfileViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="stylesheet" href="acs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>

        <div class="container">
            <div class="column">
                <form asp-action="UpdateProfile" asp-controller="Account" method="post">
                    <div>
                    <input type="text" name="Name" placeholder="Имя" value="@Model.Name" maxlength="20" required>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
                    </div>
                    <div>
                    <input type="text" name="Surname" placeholder="Фамилия" value="@Model.Surname" maxlength="20" required>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Surname)</span>
                    </div>
                    <div>
                    <input type="text" name="Patronymic" placeholder="Отчество" value="@Model.Patronymic" maxlength="20" required>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Patronymic)</span>
                    </div>
                    <div>
                    <input type="text" name="Phone" placeholder="Телефон" value="@Model.Phone" pattern="[0-9]{1,15}" required>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Phone)</span>
                    </div>
                    <div>
                        <input type="email" name="Email" placeholder="Email" value="@Model.Email" readonly>
                    </div>
                    <div class="buttons">
                        <button type="submit">Сохранить изменения</button>
                    </div>
                </form>
                <div class="buttons">
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit">Выйти из аккаунта</button>
                    </form>
                </div>
            </div>

        <div class="inf-order">
            <h2>Ваши заказы</h2>
            <div class="order-table">
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Стоимость</th>
                            <th>Количество товаров</th>
                            <th>Дата заказа</th>
                        </tr>
                        @foreach (var order in ViewBag.Orders)
                        {
                            <tr>
                                <td>@order.Number</td>
                                <td>@order.Price</td>
                                <td>@order.Amount</td>
                                <td>@order.Date</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="column2">
            <div class="bonus-card">
                <form method="post" asp-action="AddMoney">
                    <input type="number" name="moneyToAdd" placeholder="Введите сумму">
                    <button type="submit">Добавить</button>
                </form>
                <div>Текущая сумма: @Model.Money</div>
            </div>
        </div>


    </div>
</body>
</html>