@model UserProfileViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ANI MALL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main">
        <div class="container">
            <div class="column">
                <form asp-action="UpdateProfile" asp-controller="Account" method="post">
                    <div>
                        <input type="text" name="Name" placeholder="Имя" value="@Model.Name">
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
                    </div>
                    <div>
                        <input type="text" name="Surname" placeholder="Фамилия" value="@Model.Surname">
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Surname)</span>
                    </div>
                    <div>
                        <input type="text" name="Patronymic" placeholder="Отчество" value="@Model.Patronymic">
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Patronymic)</span>
                    </div>
                    <div>
                        <input type="text" name="Phone" placeholder="Телефон" value="@Model.Phone">
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Phone)</span>
                    </div>
                    <div>
                        <input type="email" name="Email" placeholder="Email" value="@Model.Email" readonly>
                    </div>
                    <div class="buttons">
                        <button type="submit">Сохранить изменения</button>
                    </div>
                </form>
                <div class="buttons">
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit">Выйти из аккаунта</button>
                    </form>
                </div>
            </div>
        </div>
            <div class="column2">
                <div class="bonus-card">
                    <div class="line">
                    </div>
                    <div class="btwn">
                        <div class="ball">
                            <h2>250 Баллов</h2>

                            <div><p>Действует до 31.04</p></div>
                        </div>
                        <img src="image/Rectangle 39 (1).png" class="images"></img>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>